{% extends "socialMedia/base.html" %}
{% load static %}

{% block content %}

<h2>Register</h2>
<form method="post">
  {% csrf_token %}
  <div>
    {{ form.username.label }}
    {{ form.username }}
  </div>
  <div>
    {{ form.email.label }}
    {{ form.email }}
  </div>

  <div>
    {{ form.password1.label }}
    {{ form.password1 }}
  </div>

  <div>
    {{ form.password2.label }}
    {{ form.password2 }}
  </div>
  {{ form.errors }}
  <button type="submit">Register</button>

  <small>
    <p class="text-center">
      Already Registered!
                <a href="{% url 'community:loginPage' %}"><b>Login Now!</b></a>
              </p></small>

</form>
{% endblock content %}
